*{
    margin-top: 0;
    padding-top: 0;
}

body{
    background-color: #daf5fd;
}

nav{
    float: left;
    width: 100%;
    background-color: #fffda3;
    margin-bottom:10px ;
}

article{
    background-color: #fff7e2;
    padding-bottom: 5px;
}

footer{
    background-color: #000000;
    color: #ffffff;
    width: 100%;
}

h1{
    text-align: center;
    font-family: STKaiti ;
    font-size: 40px;
    font-weight: bold;
}

h2{
    margin-left: 100px;
    margin-right: 100px;
    font-family: STKaiti ;
    font-size: 25px;
    font-weight: bold;
}

p{
    margin-left: 150px;
    margin-right: 150px;
    font-family: STKaiti ;
    font-size: 20px;
}

li{
    margin-left: 150px;
    margin-right: 150px;
    font-family: STKaiti ;
    font-size: 20px;
}

.ntable{
    float: right;
    border-collapse:collapse;
}

.ntd{
    padding-left:20px ;
    padding-right:20px ;
}

a{
    color: #daf5fd;
}


.left{
    float: left;
    background-color: #ffffe2;
    width: 300px;
}

.right{
    float: left;
    background-color: #fff7e2;
    margin-left: 10px;
}

.name{
    font-family: '標楷體' ;
    font-size: 30px;
    font-weight: bolder;
}

.cv{
    font-family: STKaiti ;
    font-size: 20px;
    padding-bottom: 20px;
}